header {
  text-align: center;
  background-color: turquoise;
  color: teal;
  padding: 5px;
  border: 10px solid teal;
  margin: 10px;
}

header .inside:hover {
  color: red;
  cursor: pointer;
}
header .inside .month {
  color: teal;
}
body {
  background: lightblue;
}
a:hover {
  font-weight: bold;
}

#faruk h2 {
  color: teal;
}
.first {
  color: red;
}

.okay {
  list-style: none;
  display: flex;
}

.okay-1 {
  flex-grow: 5;
}

.second {
  color: green;
}

#firstID {
  color: yellow;
}

#inside strong.a {
  color: blue;
}

input:required {
  border: 2px solid blue;
}

.arsenal {
  position: fixed;
  /* width: 1852px; */
  top: 0%;
<<<<<<< HEAD
  right: 0%;
  left: 0%;
=======
  z-index: 1000;
>>>>>>> 0b1f1cdd35448f6037ece7d07ec18b15da475d7f
}

.rosicky {
  position: relative;
  top: 140px;
}
