header {
  text-align: center;
  background-color: turquoise;
  color: blue;
  padding: 5px;
}

h1 .inside {
  color: grey;
}
h1 .inside .double-inside {
  color: blue;
}

#faruk h2 {
  color: purple;
}
.first {
  color: red;
}

.second {
  color: green;
}

#firstID {
  color: yellow;
}

#inside strong.a {
  color: blue;
}
